@{ ViewBag.Title = "About"; }
<h2>About RentStation!</h2>
<div>
    <hr />
    <p>Rent Station is an application for renting Games and Movies to the custome. Coded and Designed by Asgharali Khan.</p>
    <p>Rent Station lets you browse through vast varieties of movies and games so youre never bored. It implements user-level security to ensure only authorized users can access the Customer, Movies and Games information.</p>
    <p>The application was built using ASP.NET MVC and C# with an SQL Server database. Development was completed with Visual Studio 2019. Rent Stations’s webpages use HTML5, Model binding with Razor, Bootstrap with the bootswatch darkly theme applied, In Rentstation I have used Jquery datatable plugin for pagination, sorting and searching and Typeahead plugin by Twitter</p>
    <p><b>Roles:</b> Rent Station has Two roles that users can be assigned to. Users are automatically placed as staff role upon registration.</p>
    <p>Below are brief descriptions of the permissions of each role:</p>
    <p><b>Staff</b></p>
    <ul>
        <li>Staff can only add new customer and new rentals of the movies and games</li>
        <li>Edit Customers details they have submitted</li>
        <li>Can only view already added movies and games</li>
    </ul>
    <p><b>Admin</b></p>
    <ul>
        <li>Can add new movies and games</li>
        <li>Can edit and delete anything</li>
    </ul>

    <p><b>Genre:</b> Genres: Action, Family, Thriller, Romance, Comedy </p>
    <p><b>Category:</b> Categories: PlayStation, XBox, Nintendo Switch, PC Games </p>

    <p>Features to Add</p>
    <ul>
        <li>We can make this application a web based just need to add some authorizations, we can also have shopping cart too.</li>
        <li>We can start adding trailer for movies and games.</li>
        <li>Dashboard to show both games and movies in thier respective sections with a nice card poster.</li>
        <li>We can also use Jquery Datatable plugins for pagination and as well as sorting and searching features.</li>
        <li>And you tell me...</li>
    </ul>
</div>