@model dynamic

@{
    ViewBag.Title = "New Rental Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent Games</h2>
<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Games</label>
        <div class="tt-container">
            <input id="game" name="game" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="games" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @*Validation scripts*@
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        //Typeahead javascript code for customer
        $(document).ready(function () {
            var vm = {
                //customerId: "",
                gameIds: []
            };
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            //typeahead javascript code for movies
            var games = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/game?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#game').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'games',
                display: 'name',
                source: games
            }).on("typeahead:select", function (e, game) {
                $("#games").append("<li class='list-group-item'>" + game.name + "</li>");
                $("#game").typeahead("val", "");
                vm.gameIds.push(game.id);
            });

            //Validation for selecting valid customer
            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId !== 0;
            }, "Please select a valid customer.");

            //Validation for selecting valid Game
            $.validator.addMethod("atLeastOneGame", function () {
                return vm.gameIds.length > 0;
            }, "Please select at least one game.");

            //Toastr with submit validation
            $("#newRental").validate({
                submitHandler: function () {
                    e.preventDefault();
                    $.ajax({
                            url: "/api/gameRentals",
                            method: "post",
                            data: vm
                        })
                        .done(function () {
                            toastr.success("Rentals successfully recorded");
                        })
                        .fail(function () {
                            toastr.error("Something unexpected happened");
                        });
                }
            });
        });
    </script>
}