@model IEnumerable<Vidly.Models.Game>
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>
<p>
    @Html.ActionLink("Add New Game", "New", "Game", null, new { @class = "btn btn-primary" })
</p>
<table id="games"  class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Game</th>
        <th>Category</th>
        <th>Delete Games</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
<script>
    $(document).ready(function () {
        var table = $("#games").DataTable({
            ajax: {
                url: "/api/game",
                dataSrc: ""
            },
            columns: [
                {
                    data: "name",
                    render: function(data, type, game) {
                        return "<a href='/game/edit/" + game.id + "'>" + game.name + "</a>";
                    }
                },
                {
                    data: "category.name"
                },
                {
                    data: "id",
                    render: function(data) {
                        return "<button class='btn-link js-delete' data-game-id=" + data + ">Delete</button>";
                    }
                }
            ]
        });
        $("#games").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete this game?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/game/" + button.attr("data-game-id"),
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    });
</script>
}